@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
:root {
  --Orange-neutral: hsl(25, 97%, 53%);
  --primary-clr: hsl(216, 12%, 8%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 24%);
  --Dark-Blue: hsl(213, 19%, 18%);
}
* {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-clr);
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--White);
  font-family: Overpass;
}

p {
  font-size: 15px;
  color: var(--Light-Grey);
}

.rating-container,
.thanks-container {
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: var(--Dark-Blue);
  border-radius: 2rem;
  padding: 2rem;
}

/* On screens that are 992px or less, set the background color to blue */
@media all and (max-width: 1440px) {
  .rating-container,
  .thanks-container {
    height: 400px;
    width: 415px;
  }
  .circle {
    width: 50px;
    height: 50px;
  }
  .icon {
    height: 1.5rem;
  }
  .star-icon .icon {
    position: absolute;
    top: 25%;
    left: 25%;
  }
}

@media all and (max-width: 375px) {
  .rating-container,
  .thanks-container {
    height: 400px;
    width: 310px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  .icon {
    height: 1rem;
  }
  .star-icon .icon {
    position: absolute;
    top: 30%;
    left: 30%;
  }
}

.rating-container {
  display: flex;
}
.circle {
  border-radius: 50%;
  background-color: var(--Medium-Grey);
}

.star-icon {
  position: relative;
}

.messages p {
  font-weight: 400;
}

.rating-number {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.rating-number:hover.active,
.rating-number.active {
  background-color: var(--Orange-neutral);
}
.rating-number:hover {
  background-color: var(--Light-Grey);
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  height: 3rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--Orange-neutral);
  text-transform: uppercase;
  color: var(--White);
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.submit:active {
  background-color: var(--White);
  color: var(--Orange-neutral);
}

/* Thank you section */
.thanks-container {
  display: none;
  align-items: center;
}

.selected-info {
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  background-color: var(--Medium-Grey);
  font-weight: 700;
}
.selected-info p {
  color: var(--Orange-neutral);
}

.thank-you-message {
  display: inherit;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thank-you-message p {
  margin-top: 1rem;
}
